/************************************************************ alertModal */
#alert-modal {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
}
#alert-modal-window {
    height: 40%;
    width: 60%;
    background-color: #eee;
    font-size: 1.5rem;
}
#alert-modal-title {
    background-color: #1a8068;
    color:#eee;
    font-weight: bold;
}
/* #alert-modal-text {
}
#alert-modal-buttons {
} */

/************************************************************ strokesModal */
#strokes-modal {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.75);

    /* Test */
    font-weight: bold;
}

#strokes-modal-window {
    /* box-shadow: 0px 0px 50px black; */

    height: 50%;
    width: 80%;
    background-color: #eee;
    font-size: 1.25rem;
    padding: 0.5rem;
}

#strokes-modal-title {
    display: flex;
    height: 20%;

    /* color: #ddd; */
    /* background-color: #1a8068; */
    font-weight: bold;

    justify-content: center;
    align-items: center;

    border-bottom: 2px solid #555;
}

#strokes-modal-numpad {
    display: flex ;
    flex-flow: column;
    height: 60%;
}

#strokes-modal-numpad > div {
    flex: 1;
    display: flex;

    border-bottom: 1px dotted #555;
}

#strokes-modal-numpad > div > div {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#strokes-modal-actions {
    display: flex ;
    height: 20%;
}

#strokes-modal-actions > div {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*PERFECT!**************************************************************************************** Modal Card */
#modal-card-modal {
    position: fixed;

    width: 100%;
    height: 100%;

    /* display: flex;
    flex-direction: column; */
    
    color: #555;
    background-color: #eee;
}
.modal-card-header {
    height: calc(100vh*3/24);
    /* flex: 3; */
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 1.5em;
}
#modal-card {
    /* flex: 21; */
    display: flex;
    flex-direction: column;

    margin: 0 0.5rem;
}
.modal-card-row {
    display: flex;
    flex-direction: row;
}
.modal-card-row > div {
    flex: 2;
    display: flex;
    flex-direction: column;

    text-align: center;
}
.modal-card-row > div:first-of-type {
    flex: 4;
    /* flex: auto; */
    text-align: initial;
}
.modal-card-row > div:last-of-type {
    flex: 3;
}
.modal-card-row > div:first-of-type > div {
    padding-left: 0.5rem;
}
/* .modal-card-row > div:last-of-type > div {
    padding-right: 0.5rem;
} */
.modal-card-row > div > div {
    padding: 0.5rem 0;
    border-bottom: 1px solid #555;
}
.modal-card-row > div > div:first-of-type {
    background-color: #555;
    color: #eee;
    font-weight: bold;
}
.modal-card-row > div > div:last-of-type {
    border-bottom: none;
}
.modal-card-row > div > div:nth-of-type(4) {
    font-weight: bold;
}
#modal-card-summary {
    display: flex;
    flex-direction: row;

    font-weight: bold;
    color: #eee;
    background-color: #555;
}
#modal-card-summary > div {
    flex: 1;

    padding: 0.5rem 0;
    text-align: center;
}
.eagle {
    color: white;
    background-color: #0b5c38;

}
.birdie {
    color: white;
    background-color: #50bd61;
}
.bogey {
    color: white;
    background-color: #03b7f5;
}
.double-bogey {
    color: white;
    background-color: #01688c;
}
.trippel-bogey {
    color: white;
    background-color: #003446;
}
.paragraph-heading {
    margin: 3rem 0 2rem 0;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
#bar-chart {
    padding: 0 0.5rem;
    margin-bottom: 2rem;
}

/************************************************************** Menu modal */
#menu-modal {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    height: 100%;

    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.75);
}

/* #modal-btn-wrapper {
    display: flex;
    flex-direction: column;

    background-color: #eee;
    padding: 0 0.5rem;
} */
/* #menu-modal-window {
    box-shadow: 0px 0px 50px black;

    height: 60%;
    width: 90%;
    background-color: white;

    display: flex;
    flex-direction: column;

    text-align: center;
    font-size: 1.5em;

    border: 1px solid black; 
} */

/* Gamla lösningen med divar */
/* .menu-modal-item {
    height: 12%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eee;
    border-top: 2px solid #555;    
} */

/* Nya med buttons */
.btn-modal-menu-item {
    height: calc(100vh / 8);
    color: #555;
    font-size: 1.25rem;
    background-color: #eee;
    
    border: none;
    border-top: 2px solid #555;
}


/* .menu-modal-item:last-of-type{
    border-bottom: none;
} */

/* asd */




/* OLD SHIT */

/* #modal {
    height:  100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    
    position:absolute;

    top: 0;
    left: 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#numpad {
    display: flex ;
    flex-direction: column;
    height: 50%;
    width: 80%;
    font-size: 1.3em;
    margin-bottom: 4.5em;
}

#numpad > div {
    flex:2;
    display: flex;
    bor der: 1px solid yellow;
}

#numpad > div > div {
    flex: 1;
    bord er:1px solid black;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
} */