/* body {
    height: 100vh;
    margin: 0;
    display : flex;
    align-items: center;
    justify-content: center;
} */



/************************************************************ alertModal */


#alert-modal {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
}
#alert-modal-window {
    height: 40%;
    width: 60%;
    background-color: #eee;
    font-size: 1.5rem;
}
#alert-modal-title {
    background-color: #1a8068;
    color:#eee;
    font-weight: bold;
}
#alert-modal-text {

}
#alert-modal-buttons {

}



/************************************************************ strokesModal */

#strokes-modal {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
}

#strokes-modal-window {
    /* box-shadow: 0px 0px 50px black; */

    height: 50%;
    width: 80%;
    background-color: #eee;
    font-size: 1.5rem;
}

#strokes-modal-title {
    display: flex;
    height: 20%;

    color: #ddd;
    background-color: #1a8068;
    font-weight: bold;

    justify-content: center;
    align-items: center;
}

#strokes-modal-numpad {
    display: flex ;
    flex-flow: column;
    height: 60%;
}

#strokes-modal-numpad > div {
    flex: 1;
    display: flex;
}

#strokes-modal-numpad > div > div {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#strokes-modal-actions {
    display: flex ;
    height: 20%;
}

#strokes-modal-actions > div {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

/**************************************************************************************** Modal Card */
#modal-card-modal {
    position: fixed;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    color: #555;
    background-color: #eee;
}
#modal-card-header {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 1.5em;
}
#modal-card {
    flex: 21;
    display: flex;
    flex-direction: column;

    margin: 0 0.5rem;
}
.modal-card-row {
    display: flex;
    flex-direction: row;
}
.modal-card-row > div {
    flex: 1;
    display: flex;
    flex-direction: column;

    text-align: center;
}
.modal-card-row > div:first-of-type {
    flex: 2;
    text-align: initial;
}
.modal-card-row > div:first-of-type > div{
    padding-left: 0.5rem;
}
.modal-card-row > div:last-of-type > div{
    padding-right: 0.5rem;
}
.modal-card-row > div > div {
    padding: 0.5rem 0;
    border-bottom: 1px solid #1a8068;
}
.modal-card-row > div > div:first-of-type {
    background-color: #1a8068;
    color: #eee;
    font-weight: bold;
}
.modal-card-row > div > div:last-of-type {
    border-bottom: none;
}
.modal-card-row > div > div:nth-of-type(4) {
    font-weight: bold;
}


/************************************************************** Menu modal */
#menu-modal {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    height: 100%;

    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.75);
}
#menu-modal-window {
    /* box-shadow: 0px 0px 50px black; */

    /* height: 60%; */
    width: 90%;
    background-color: white;

    display: flex;
    flex-direction: column;

    text-align: center;
    font-size: 1.5em;

    border: 1px solid black; 
}
.menu-modal-item {
    height: calc(100vh*3/24);
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em;

    color: #555;
    background-color: #eee;
    border: 1px solid #555;    
}

.menu-modal-item:last-of-type{
    border-bottom: none;
}

/* asd */




/* OLD SHIT */

/* #modal {
    height:  100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    
    position:absolute;

    top: 0;
    left: 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#numpad {
    display: flex ;
    flex-direction: column;
    height: 50%;
    width: 80%;
    font-size: 1.3em;
    margin-bottom: 4.5em;
}

#numpad > div {
    flex:2;
    display: flex;
    bor der: 1px solid yellow;
}

#numpad > div > div {
    flex: 1;
    bord er:1px solid black;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
} */