@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
    overflow: auto;
    box-sizing: border-box;
}

html {
    overscroll-behavior: contain;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #555;
    background-color: #eee;
}

#app {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

/*********************************************** Base layout */
.header {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 0.5rem;

    color: #eee;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #1a8068;
    /* background-color: #eee; */
}
.title {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0.5rem;

    color: #555;
    font-size: 1.5rem;
    font-weight: bold;
    /* background-color: #1a8068; */
    background-color: #eee;
    border-bottom: 3px solid #555;
}
.content {
    flex: 17;

    margin: 0 0.5rem;

    font-size: 1.25rem;
}
.footer {
    flex: 3;
    display: flex;

    margin: 0 0.5rem;

    font-size: 2.5rem;    
    color: #555;
    background-color: #eee;
    border-top: 3px solid #555;
}

/*************************************************** courseView */
.course-item {
    height: calc(100vh/12);
    
    display: flex;                                                              
    align-items: center;
    
    padding: 0 0.5em;
    border-bottom: 1px dotted #555;
}
.course-item > label {
    width: 100%;
}

/*************************************************** playersView */
.player-item {
    height: calc(100vh/12);

    display: flex;
    align-items: center;

    padding: 0 0.5em;
    border-bottom: 1px dotted #555;
}
.player-item > label {
    width: 100%;
}


/*************************************************** handicapView */
.handicap-item {
    height: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-weight: bold;

    padding: 0 0.5em;
    border-bottom: 1px dotted #555;


}


.handicap-item:nth-child(4) {
    border-bottom: none;
}
.handicap-spinner {
    display: flex;
}
.handicap-spinner > div {
    width: 6rem;
    text-align: center;
    color: #555;
}
.handicap-input {
    width: 6rem;
    text-align: center;
    font-size: 1.25rem;
    color: #555;
}

/*************************************************** teeView */
.tee-item {
    height: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 1px dotted #555;
    padding: 0 0.5em;

    font-size: 1.25rem;
}
.tee-item > div:first-of-type {
    font-weight: bold;
}

.tee-item:nth-child(4) {
    border-bottom: none;
}
.tee-list {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}
.tee-list > div {
    display: flex;
    align-items: center;
}

/*************************************************** homeView */
#home-header {
    flex: 9;
    font-size: 3rem;
    background-color: #eee;
    color: #555;
}
#home-content {
    background-color: #eee;
    flex: 12;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#home-footer {
}

/*************************************************** Scorecard list item */
.scorecard_item {
    height: calc(100vh/12);
    
    display: flex;
    align-items: center;

    padding: 0 0.5em;

    border-bottom: 1px dotted #555;
    font-size: 1.25em;
}
.scorecard_item:active {
    background-color: #658ebc;
    color: white;
}
.scorecard_item div:first-of-type {
    margin-right: 2em;
}

/************************** ************************* User list item */
.user_item {
    height: calc(100vh/12);
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 0.5em;

    border-bottom: 1px dotted #555;
    font-size: 1.25em;
}
.user_item:active {
    background-color: #658ebc;
    color: white;
}

/*************************************************** Button class */
.btn-menu-item {
    flex: 1;

    padding: 0;

    color: #555;
    font-size: 2.5rem;
    background-color: #eee;
    
    border: none;
}
#btn-new-scorecard {
    border: none;

    padding: 0.1em;

    color: #1a8068;
    font-size: 10em;
    font-weight: bold;
    background-color: #eee;
    text-shadow: 0 0 10px #ccc;
}




/* overflow: auto; */

/* .cardBox {
    display: flex;
}

.cardBox > div {
    flex: 1;
} */

/* #footer, #footer_section {
    flex: 1;
    
    background-color:#777;
    color: #eee;
    font-size: 2em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */


/* List items */
input[type=text] {
}

input[type=radio], input[type=checkbox] {
    margin: 0 0.5em 0 0;
    font-size: 1em;
    height: 1em;
    width: 1em;
}





/*************************************************** newPlayerView */
#form-new-player {
    display: flex;
    flex-direction: column;
}

/*************************************************** summaryPage */


#summary-title {
    /* flex: 3; */
    flex: 2;

    display: flex;
    flex-direction: column;

    font-size: 1.5rem;
    background-color: #eee;
    color: #555;
}
#summary-content {
    /* flex: 18; */
    flex: 20;

    display: flex;
    flex-direction: column;

    /* padding:0.25rem 0.5rem; */
    padding: 1rem;
}
#summary-footer {
    flex: 2;
}

.summary-box {
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px #aaa;
    border-radius: 0.25em;




    height: 25%;

    display: flex;
    flex-direction: row;

    font-size: 0.8rem;
    /* padding: 0.25rem; */
    /* margin-bottom: 0.25rem; */
    /* box-shadow: 0 0 5px #555; */
}
.summary-box:nth-of-type(4) {
    margin-bottom: 0;
}
.summary-box-image {
    width: 30%;
    background-image: url('../media/phil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.summary-box-data {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* margin-left: 0.25rem; */
    margin-left: 1rem;
}
.summary-box-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}
.summary-box-conditions {
    display: flex;
    flex-direction: row;

    padding: 0.25em 0;
    border-top: 1px dotted #555;
    border-bottom: 1px dotted #555;
    margin-bottom: 0.25em;
}
.summary-box-conditions > div {
    flex: 1;
}
.summary-box-conditions > div:nth-of-type(2n+1){
    font-weight: bold;
}
.summary-box-calculations {
    display: flex;
    flex-direction: row;
}
.summary-box-calculations > div {
    flex: 1;
}
.summary-box-div1 {
    display: flex;
    flex-direction: column;
}
.summary-box-div1 > div:first-of-type{
    font-weight: bold;
}
.summary-box-div1 > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}
.summary-box-div1 > div > div {
    flex: 1;
}
.summary-box-div2, .summary-box-div3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: bold;
}
.summary-box-div2 > div:last-of-type, .summary-box-div3 > div:last-of-type{
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}



/*************************************************** holeView */
#hole-header {
    flex: 1;
    justify-content: space-between;
    
    font-size: 1em;
    font-weight: normal;
    padding: 0 0.5em;
}
#hole-title {
    flex: 6;

    font-size: 1.25rem;
    font-weight: bold;

    margin-top: 0.5rem;
    padding: 0 0.5em;

    text-shadow: 0 0 5px #555;
}
#hole-title > div {
    flex: 1;
    
    text-align: center;
}
#hole-title > div:nth-of-type(2) {
    font-size: 6.5rem;
    font-weight: bold;
}
#hole-content {
    flex: 15;    
}
#hole-footer {
    flex: 3;
}

.course-image {
    background-color: #1a8068; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.player-box {
    height: 25%;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;

    font-size: 1rem;
    border-bottom: 1px dotted #555;
}
.player-box:nth-child(4) {
    border-bottom: none;
}
.p-b-header {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;
    font-weight: bold;
}
.p-b-content {
    flex: 2;
    display: flex;
    /* height: 100%; */
    /* flex-direction: row; */
    font-weight: bold;
}
.p-b-content > div {
    flex: 2;
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
}

.p-b-content > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-b-content > div:nth-child(1) > div {
    display: flex;
    flex-direction: column;
}
.p-b-content > div:nth-child(2) {
    flex: 3;
    align-items: center;
    justify-content: center;
}
.p-b-content > div:nth-child(3) {
    display: flex;
}
.p-b-content > div:nth-child(3) > div {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-box input[type=text] {
    border: none;
    background-color: #eee;
    box-shadow: 0px 0px 5px #555;
    border-radius: 50%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    color: #555;
}







/* Scorecard */
#scorecard-header {
    flex: 1;

    font-size: 2em;
    font-weight: 900;
    color: #eee;
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}
#scorecard-content {
    flex: 11;
    font-size: 1.5em;
    overflow: auto;

    font-size: 1rem;
    pa dding: 0.5em;
}
#scorecard-footer {
    flex: 1;
    
    background-color:#777;
    color: #eee;
    font-size: 2em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}





.card {
    display: flex;
    flex-direction: column;

    border: 1px solid green;
    margin-bottom: 1em;
}

.card-header {
    font-weight: bold;
    font-size: 1.5em;
    color: #eee;
    background-color: rgb(16, 20, 13);
    padding: 0.5em;

}

.card-row {
    display: flex;
    flex-direction: row;

    font-weight: bold;
}

.card-row > div {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: stretch;
    text-align: center;
}

.card-row > div:first-of-type {
    flex: 2;
    text-align: initial;
    align-ite ms: initial;
}

.card-row > div > div {
    padding: 0.5em;
    border-bottom: 1px solid rgb(43, 53, 35);
}

.card-row > div > div:first-of-type {
    background-color: rgb(43, 53, 35);
    color: #eee;
}
.card-summary {
}

/* flex: unset; */

/* Dölja pilar i input type=numbers */
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */ */