@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
    overflow: auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #eee;
    color: #444;
}

/* TEMP */
form {                      
    /* margin: 0; */
}

#app {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

/*********************************************** Base layout */
.header {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #444;
    color: #eee;
    font-size: 2em;
    font-weight: bold;
}
.title {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0b6556;
    color: #eee;

    font-size: 1.4em;
    font-weight: bold;
}
.content {
    flex: 10;
}
.footer {
    flex: 2;

    background-color: #333;
    color: #eee;
    font-size: 2em;

    display: flex;
}

/*************************************************** courseView */
.course-item {
    height: 10%;
    
    display: flex;                                                              
    align-items: center;
    
    padding: 0 0.5em;
    border-bottom: 1px dotted #333;

    font-size: 1.25em;
}
.course-item > label {
    width: 100%;
}

/*************************************************** playersView */
.player-item {
    height: 10%;

    display: flex;
    align-items: center;

    padding: 0 0.5em;
    border-bottom: 1px dotted #333;

    font-size: 1.25em;
}
.player-item > label {
    width: 100%;
}


/*************************************************** handicapView */
.handicap-item {
    height: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 0.5em;
    border-bottom: 1px dotted #333;

    font-size: 1.25em;
}
.handicap-item:last-child {
    border-bottom: none;
}
.handicap-spinner {
    display: flex;
}
.handicap-spinner > div {
    width: 5em;
    text-align: center;
    color: #333;
}
.handicap-input {
    width: 5em;
    text-align: center;
    font-size: 1em;
    color: #333;
}

/*************************************************** teeView */
.tee-item {
    height: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 1px dotted #333;
    padding: 0 0.5em;

    font-size: 1.25em;
}
.tee-item:last-child {
    border-bottom: none;
}
.tee-list {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}
.tee-list > div {
    display: flex;
    align-items: center;
}

/*************************************************** homeView */
#home-header {
    flex: 9;
    font-size: 3rem;
}
#home-content {
    background-color: #444;
    flex: 12   ;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#home-footer {
    flex: 3;
}
#home-content .scorecard_item {
    height: 20%;
}

/*************************************************** Scorecard list item */
.scorecard_item {
    height: 10%;
    
    display: flex;
    align-items: center;

    padding: 0 0.5em;

    border-bottom: 1px dotted #333;
    font-size: 1.25em;
}
.scorecard_item:active {
    background-color: #658ebc;
    color: white;
}
.scorecard_item div:first-of-type {
    margin-right: 2em;
}

/*************************************************** User list item */
.user_item {
    height: 10%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 0.5em;

    border-bottom: 1px dotted #333;
    font-size: 1.25em;
}
.user_item:active {
    background-color: #658ebc;
    color: white;
}

/*************************************************** Button class */
.btn {
    flex: 1;

    border: none;
    background-color: #333;
    color: #eee;

    font-size: 0.5em;
    font-weight: bold;
    /* text-decoration: underline; */
}
#new-image {
    width: 10em;
}
#btn-new {

    border: none;
background-color: #444;
    
    color: #0b6556;


    font-size: 10em;
    font-weight: bold;
    /* text-decoration: underline; */
    
}




/* overflow: auto; */

/* .cardBox {
    display: flex;
}

.cardBox > div {
    flex: 1;
} */

/* #footer, #footer_section {
    flex: 1;
    
    background-color:#777;
    color: #eee;
    font-size: 2em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */


/* List items */
input[type=text] {
}

input[type=radio], input[type=checkbox] {
    margin: 0 0.5em 0 0;
    font-size: 1em;
    height: 1em;
    width: 1em;
}





/*************************************************** newPlayerView */
#form-new-player {
    display: flex;
    flex-direction: column;
}





/*************************************************** holeView */
#hole-header {
    justify-content: space-between;
    
    font-size: 1em;
    font-weight: normal;
    padding: 0 0.5em;
}
#hole-title {
    flex: 3;

    font-size: 1em;
    font-weight: bold;
    padding: 0 0.5em;
}
#hole-title > div {
    flex: 1;
    
    text-align: center;
}
#hole-title > div:nth-of-type(2) {
    font-size: 4.5em;
    font-weight: bold;
}
#hole-form {
    flex: 8;    
}
#hole-footer {
    flex: 2;
}


.player-box {
    height: 25%;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;

    font-size: 1rem;
    border-bottom: 1px dotted #333;
}
.p-b-header {
    flex: 1;

    display: flex;
    justify-content: center;    

    font-size: 1.25em;
    font-weight: bold;
}
.p-b-content {
    flex: 2;
    display: flex;
    height: 100%;
    /* flex-direction: row; */
}
.p-b-content > div {
    flex: 1;

    display: flex;
    flex-direction: column;
}
.p-b-content > div:nth-child(2) {
    align-items: center;
    justify-content: center;
}
.p-b-content > div:nth-child(1) {
    /* justify-content: flex-end; */
}
.p-b-content > div:nth-child(3) {
    align-items: flex-end;
}
.player-box input[type=text] {
    border: none;
    background-color: #eee;
    box-shadow: 0px 0px 10px grey;
    border-radius: 50%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
}







/* Scorecard */
#scorecard-header {
    flex: 1;

    font-size: 2em;
    font-weight: 900;
    color: #eee;
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}
#scorecard-content {
    flex: 11;
    font-size: 1.5em;
    overflow: auto;

    font-size: 1rem;
    pa dding: 0.5em;
}
#scorecard-footer {
    flex: 1;
    
    background-color:#777;
    color: #eee;
    font-size: 2em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}





.card {
    display: flex;
    flex-direction: column;

    border: 1px solid green;
    margin-bottom: 1em;
}

.card-header {
    font-weight: bold;
    font-size: 1.5em;
    color: #eee;
    background-color: rgb(16, 20, 13);
    padding: 0.5em;

}

.card-row {
    display: flex;
    flex-direction: row;

    font-weight: bold;
}

.card-row > div {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: stretch;
    text-align: center;
}

.card-row > div:first-of-type {
    flex: 2;
    text-align: initial;
    align-ite ms: initial;
}

.card-row > div > div {
    padding: 0.5em;
    border-bottom: 1px solid rgb(43, 53, 35);
}

.card-row > div > div:first-of-type {
    background-color: rgb(43, 53, 35);
    color: #eee;
}
.card-summary {
}

/* flex: unset; */

/* Dölja pilar i input type=numbers */
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */ */