@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
    overflow: auto;
    box-sizing: border-box;
}

html {
    overscroll-behavior: contain;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #555;
    background-color: #eee;
}

#app {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

/*********************************************** Base layout */
.header {
    /* flex: 3; */
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0.5rem;

    color: #555;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
    border-bottom: 2px solid #555;
}
.content {
    /* flex: 18; */
    height: 75%;

    margin: 0 0.5rem;

    font-size: 1.25rem;
}
.footer {
    /* flex: 3; */
    height: 12.5%;
    display: flex;
    justify-content: space-between;

    margin: 0 0.5rem;

    border-top: 2px solid #555;
}

/*************************************************** courseView */
.course-item {
    height: calc(100vh/12);
    
    display: flex;                                                              
    /* align-items: center; */
    
    padding: 0 0.5em;
    border-bottom: 1px dotted #555;
}
.course-item > label {
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex: 1;
}

/*************************************************** playersView */
.player-item {
    height: calc(100vh/12);

    display: flex;
    /* align-items: center; */

    padding: 0 0.5em;
    border-bottom: 1px dotted #555;
}
.player-item > label {                                                              /* Så här skall det se ut*/
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex: 1;
}

/*************************************************** handicapView */
.handicap-item {
    height: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-weight: bold;

    padding: 0 0.5em;
    border-bottom: 1px dotted #555;
}
.handicap-item:nth-child(4) {
    border-bottom: none;
}
.handicap-spinner {
    display: flex;
}
.handicap-spinner > div {
    width: 6rem;
    text-align: center;
    color: #555;
}
.handicap-input {
    width: 6rem;
    text-align: center;
    font-size: 1.25rem;
    color: #555;
}

/*************************************************** teeView */
.tee-item {
    height: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 1px dotted #555;
    padding: 0 0.5em;

    font-size: 1.25rem;
}
.tee-item > div:first-of-type {
    font-weight: bold;
}

.tee-item:nth-child(4) {
    border-bottom: none;
}
.tee-list {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}
.tee-list > div {
    display: flex;
    align-items: center;
}

/* Perfect ************************************************** homeView */
#home-header {
    /* flex: 5; */
    height: 20%;
    align-items: flex-end;

    font-size: 2.5rem;
    border: none;
}
#home-content {
    height: 67.5%;
    /* flex: 16; */

    display: flex;
    justify-content: center;
}

/*************************************************** Scorecard list item */
.scorecard_item {
    height: calc(100vh/8);
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 0.5em;
    line-height: 1.75rem;

    border-bottom: 1px dotted #555;
}
.scorecard_item:active {
    background-color: #658ebc;
    color: white;
}

/************************** ************************* User list item */
.user_item {
    height: calc(100vh/12);
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 0.5em;

    border-bottom: 1px dotted #555;
    font-size: 1.25rem;
}
.user_item:active {
    background-color: #5a7dbe;
    color: white;
}

/***PERFECT    ************************************************ Button class */
.btn-menu-item {
    width: calc(100%/3);
    /* padding: 0; */

    color: #555;
    font-size: 2.5rem;
    background-color: #eee;
    
    border: none;
}

.single-btn {
    justify-content: center;
}

#btn-new-scorecard {
    border: none;

    font-size: 8.5rem;
    color: #1a8068;
    background-color: #eee;
}

/***************************************************************** List items */

input[type=radio], input[type=checkbox] {
    margin: 0 0.5em 0 0;
    font-size: 1em;
    height: 1em;
    width: 1em;

    align-self: center;
}

/*************************************************** newPlayerView */
#form-new-player {
    display: flex;
    flex-direction: column;
}

/*************************************************** summaryPage */
#summary-header {
    flex-direction: column;

    font-size: 1.5rem;
}
#summary-header > div:last-of-type{
    font-size: 1.25rem;
}
#summary-content {
    display: flex;
    flex-direction: column;
}

.summary-box {
    display: flex;
    flex-direction: column;

    padding: 0.5rem;

    height: 25%;

    font-size: 1rem;
    border-bottom: 1px dotted #555;
}
.summary-box:nth-of-type(4) {
    border-bottom: none;
}
.summary-box-name {
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    /* margin-bottom: 0.25rem; */
}
/* .summary-box-conditions {
    display: flex;
    flex-direction: row;

    padding: 0.25em 0;
    border-top: 1px dotted #555;
    border-bottom: 1px dotted #555;
    margin-bottom: 0.25em;
}
.summary-box-conditions > div {
    flex: 1;
}
.summary-box-conditions > div:nth-of-type(2n+1){
    font-weight: bold;
} */
.summary-box-calculations {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.summary-box-calculations > div {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: bold;
}
.summary-box-calculations > div > div:last-of-type {
    flex: 1;
    display: flex;
    align-items: center;

    font-size: 2rem;
}



/* 
.summary-box-div1 {
    display: flex;
    flex-direction: column;
}
.summary-box-div1 > div:first-of-type{
    font-weight: bold;
}
.summary-box-div1 > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}
.summary-box-div1 > div > div {
    flex: 1;
}
*/
/* .summary-box-div2, .summary-box-div3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: bold;
} */
/* .summary-box-div2 > div:last-of-type, .summary-box-div3 > div:last-of-type{
    flex: 1;
    display: flex;
    align-items: center;

    font-size: 2rem;
} */

/*Perfect  ************************************************** holeView */
#hole-header {
    /* flex: 6; */
    height: 25%;

    font-size: 1.25rem;
}
#hole-header > div {
    flex: 3;
}
#hole-header > div:nth-of-type(2) {
    flex: 4;

    font-size: 6.5rem;
}
#hole-content {
    height: 62.5%;
    /* flex: 15;     */
}
/* #hole-footer {
    height: 15%;
} */

.player-box {
    height: 25%;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;

    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px dotted #555;
}
.player-box:nth-child(4) {
    border-bottom: none;
}
.p-b-header {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;
}
.p-b-content {
    flex: 2;
    display: flex;
}
.p-b-content > div {
    flex: 2;
    display: flex;
}
.p-b-content > div:nth-child(1) {
    flex-direction: column;
    align-items: center;
}
.p-b-content > div:nth-child(1) > div {
    flex-direction: column;
}
.p-b-content > div:nth-child(2) {
    flex: 3;
    align-items: center;
    justify-content: center;
}
.p-b-content > div:nth-child(3) > div {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-box input[type=text] {
    border: none;
    background-color: #eee;
    box-shadow: 0px 0px 5px #555;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    color: #555;
}

/********************************************************************************* Scorecard */
/* #scorecard-header {
    flex: 1;

    font-size: 2em;
    font-weight: 900;
    color: #eee;
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}
#scorecard-content {
    flex: 11;
    font-size: 1.5em;
    overflow: auto;

    font-size: 1rem;
    pa dding: 0.5em;
}
#scorecard-footer {
    flex: 1;
    
    background-color:#777;
    color: #eee;
    font-size: 2em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */


/* 


.card {
    display: flex;
    flex-direction: column;

    border: 1px solid green;
    margin-bottom: 1em;
}

.card-header {
    font-weight: bold;
    font-size: 1.5em;
    color: #eee;
    background-color: rgb(16, 20, 13);
    padding: 0.5em;

}

.card-row {
    display: flex;
    flex-direction: row;

    font-weight: bold;
}

.card-row > div {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: stretch;
    text-align: center;
}

.card-row > div:first-of-type {
    flex: 2;
    text-align: initial;
    align-ite ms: initial;
}

.card-row > div > div {
    padding: 0.5em;
    border-bottom: 1px solid rgb(43, 53, 35);
}

.card-row > div > div:first-of-type {
    background-color: rgb(43, 53, 35);
    color: #eee;
} */